 1.Write a code to create a string with your name and print it

In [ ]:
name = "Ayushi"
print(name)

Ayushi

 2. Write a code to find the length of the string "Hello World"

In [ ]:
my_string = "Hello world"
print(len(my_string))

11

 3.Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
my_string = "python programming"

#sliced the first 3 characters from the string
sliced_string = my_string[:3]
# Print the sliced string
print("The first 3 characters are:", sliced_string)

The first 3 characters are: pyt

 4.Write a code to convert the string "hello" to uppercase.

In [ ]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
original_string = "I like apple"
new_string = original_string.replace("apple", "orange")
print(new_string)

I like orange

 6.Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

 7.P Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
numbers =[1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
elements = ['a','b','c','d']
print(elements[1])

b

 10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print("The reversed list is:", numbers)

The reversed list is: [50, 40, 30, 20, 10]

 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
elements = ('red','green','blue','yellow')
print(elements[-2])

blue

 13.. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10,20,5,15)
print(min(my_tuple))

5

 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
elements = ('dog','cat','rabbit')
print(elements.index('cat'))

1

 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple','banana','orange',)
if 'kiwi' in fruits:
    print('kiwi is in the tuple')
else:
    print('kiwi is not in the tuple')

kiwi is not in the tuple

 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set ={"a","b","c"}
print("The set is:",my_set)

The set is: {'c', 'b', 'a'}

 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the cleared set
print("The cleared set is:", my_set)

The cleared set is: set()

 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set_a ={1,2,3}
set_b = {3,4,5}
union_set_method =set_a.union(set_b)
print("union using union()method:",union_set_method)

union using union()method: {1, 2, 3, 4, 5}

 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set_a = {1,2,3}
set_b = {2,3,4}
intersection_set_method = set_a.intersection(set_b)
print("intersection using intersection()method:",intersection_set_method)

intersection using intersection()method: {2, 3}

 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person_info = { 'name' : 'Ayushi','age' : '25','city' : 'bhilai'}
print(person_info)

{'name': 'Ayushi', 'age': '25', 'city': 'bhilai'}

 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person_info = { 'name' : 'john','age' : '25'}
person_info['country'] = 'USA'
print(person_info)

{'name': 'john', 'age': '25', 'country': 'USA'}

 23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person_info = {'name': 'Alice', 'age': '25'}
print(person_info ['name'])
name_value =person_info.get('name')
print(name_value)

Alice
Alice

 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
name_info = {'name': 'bob', 'age': '22', 'city': 'new york'}
del name_info['age']
print(name_info)

{'name': 'bob', 'city': 'new york'}

 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
from sys import int_info
name_info = {'name': 'Alice', 'city': 'paris'}
if 'city' in name_info:
    print('city is in the dictionary')
    print(name_info['city'])

else:
    print('city is not in the dictionary')

city is in the dictionary
paris

 26.. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
#creating a list
my_list = [1,2,3,4,5]

#creating a tuple
my_tuple = (10,20,30,40,50)

#creating a dictionary
my_dic = {'name': 'Bob','age': '20','city': 'New york'}

print("list",my_list)
print("tuple",my_tuple)
print("dictionary",my_dic)

list [1, 2, 3, 4, 5]
tuple (10, 20, 30, 40, 50)
dictionary {'name': 'Bob', 'age': '20', 'city': 'New york'}

 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

 28.Write a code to create a list with strings and print the element at the third index.

In [ ]:
# Creating a list with strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Printing the element at the third index
print("Element at index 3:", string_list[3])

Element at index 3: date

 29.Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

# Combine the dictionaries using update
combined_dict = dict1.copy()  # Make a copy of the first dictionary
combined_dict.update(dict2)    # Update it with the second dictionary
print("Combined Dictionary using update():", combined_dict)

Combined Dictionary using update(): {'a': 1, 'b': 3, 'c': 4}

 30.Write a code to convert a list of strings into a set.

In [ ]:
string_list = ['apple','banana','cherry','date']
string_set =set(string_list)
print("Set from the list of strings:", string_set)

Set from the list of strings: {'apple', 'date', 'banana', 'cherry'}